@page
@model LoginModel

<div class="row text-center">
    <form class="form-signin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <img class="mb-4" src="~/images/logo.png" alt="" width="72" height="72" />
        <h1 class="h3 mb-3 font-weight-normal">Please sign in or sign up to continue</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="Input.NickName" class="sr-only">NickName</label>
        <input asp-for="Input.NickName" class="form-control" placeholder="NickName" autofocus />
        <span asp-validation-for="Input.NickName" class="text-danger"></span>
        <label asp-for="Input.Password" class="sr-only">Password</label>
        <input asp-for="Input.Password" class="form-control" placeholder="Password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Next</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}