<div class="row justify-content-md-center">
    <div class="alert alert-danger display-none" id="failure-alert"></div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="boardContainer container" game-id opponent-id is-opponent-cross-player>
            <div class="game-info">
                <span class="display-none game-info-message"></span>
                <span class="display-none your-turn-message">It's your turn. Please make your move.</span>
                <span class="display-none wait-turn-message">It's your opponent turn. Please wait.</span>
                <div class="spinner-border text-secondary display-none wait-turn-message" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <table class="board-table disabled">
                <tbody>
                    <tr>
                        <td class="board-cell noselect" id="pos-0-2"></td>
                        <td class="board-cell noselect" id="pos-1-2"></td>
                        <td class="board-cell noselect" id="pos-2-2"></td>
                    </tr>   
                    <tr>
                        <td class="board-cell noselect" id="pos-0-1"></td>
                        <td class="board-cell noselect" id="pos-1-1"></td>
                        <td class="board-cell noselect" id="pos-2-1"></td>
                    </tr>
                    <tr>
                        <td class="board-cell noselect" id="pos-0-0"></td>
                        <td class="board-cell noselect" id="pos-1-0"></td>
                        <td class="board-cell noselect" id="pos-2-0"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <h3 class="no-players-message text-center display-none">There are no available players at the moment.</h3>
        <table class="table players-table">
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="modals"></div>

<script type="text/template" data-template="player-row">
    <tr player-id="${playerId}">
        <td>${playerName}</td>
        <td class="text-right">
            <button class="btn btn-info player-history-btn" type="button">View history</button>
            <button class="btn btn-success player-play-btn" type="button">Play</button>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="hidden-row">
            <div class="accordian-body collapse" id="player_${playerId}">
                <p class="no-games-message">There were no previous games between you and this player.</p>
                <table class="table table-borderless games-table display-none">
                    <tbody></tbody>
                </table>
            </div>
        </td>
    </tr>
</script>

<script type="text/template" data-template="game-row">
    <tr>
        <td>${id}</td>
        <td>${startDate}</td>
        <td><span class="badge ${badgeClass}">${result}</span></td>
        <td class="text-right" game-id="${gameId}">${actionHtml}</td>
    </tr>
</script>

<script type="text/template" data-template="gameRequestModal">
    <div class="modal fade" id="gameRequestModal_${playerId}" tabindex="-1" role="dialog" aria-labelledby="gameRequestModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gameRequestModalLabel">Game request</h5>
                </div>
                <div class="modal-body">Player ${playerName} has just challenged you to play Tic-Tac-Toe game. Will you accept this challenge?</div>
                <div class="modal-footer" player-id="${playerId}">
                    <button type="button" class="btn btn-outline-light player-declineGame-btn">No</button>
                    <button type="button" class="btn btn-outline-success player-acceptGame-btn">Yes</button>
                </div>
            </div>
        </div>
    </div>
</script>

@section Scripts {
    <script>
        $(function () {
            // start hub
            start();
        });
    </script>
}